{
    "extends": "@istanbuljs/nyc-config-typescript",

    "extension": [
        ".ts"
    ],
    "exclude": [
        "**/__fixture__/**",
        "**/__mock__/**",
        "**/__test__/**"
    ]
}
